Repository lf-lang/reactor-c, pull requests merged in 2024-08, with the labels that each got.

#445 Optimization of LTC signals
  core/environment.c
  core/federated/RTI/rti_common.c
  core/federated/RTI/rti_common.h
  core/federated/RTI/rti_remote.c
  core/federated/RTI/rti_remote.h
  core/federated/federate.c
  core/reactor_common.c
  core/threaded/reactor_threaded.c
  include/core/environment.h
  include/core/federated/federate.h
  include/core/federated/network/net_common.h
  lingua-franca-ref.txt
Labels: enhancement, federated

#383 Support for Patmos platform
  core/CMakeLists.txt
  low_level_platform/api/CMakeLists.txt
  low_level_platform/api/low_level_platform.h
  low_level_platform/api/platform/lf_patmos_support.h
  low_level_platform/impl/CMakeLists.txt
  low_level_platform/impl/src/lf_atomic_irq.c
  low_level_platform/impl/src/lf_patmos_support.c
  platform/impl/CMakeLists.txt
Labels: community, feature

#475 Fixed typo in CI workflow
  .github/workflows/ci.yml
Labels: exclude, ci

#476 Improvements to decentralized coordination
  core/federated/RTI/.gitignore
  core/federated/federate.c
  core/reactor_common.c
  core/threaded/reactor_threaded.c
  core/threaded/scheduler_NP.c
  core/threaded/scheduler_sync_tag_advance.c
  include/core/federated/federate.h
  include/core/threaded/reactor_threaded.h
  lingua-franca-ref.txt
Labels: enhancement, bugfix, federated

#477 Prevent hanging on waiting for timeout time
  core/federated/federate.c
  include/core/lf_types.h
  lingua-franca-ref.txt
  python/include/python_action.h
Labels: enhancement, federated
