Repository lf-lang/reactor-c, pull requests merged in 2025-04, with the labels that each got.

#519 Fed decentralized improvements
  .clang-format
  core/federated/federate.c
  core/reactor_common.c
  core/threaded/reactor_threaded.c
  include/core/reactor_common.h
  lingua-franca-ref.txt
Labels: enhancement, bugfix, federated

#520 Handle STP violation over deadline when both occur
  core/federated/federate.c
  core/threaded/reactor_threaded.c
Labels: enhancement, bugfix

#521 Add semantic versioning of the RTI
  core/federated/RTI/CMakeLists.txt
  core/federated/RTI/main.c
  core/federated/RTI/rti.Dockerfile
Labels: enhancement, RTI

#523 Compile RTI for each federation
  core/federated/RTI/CMakeLists.txt
Labels: refactoring, RTI

#524 Renamed API function and allow zero argument
  core/reactor_common.c
  include/core/reactor.h
Labels: enhancement

#516 Add option for providing an external implementation of clock functions
  core/clock.c
Labels: feature
